/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: #222;
  color: white
}

a { 
  color: #FFFACD;
}
#body {
  position: relative;
}

svg {
  width: 1280px;
  height: 800px;
  pointer-events: all;
}

.airport {
  fill: #FFFACD;
  stroke: none;
}

path {
  fill: #aaa;
  stroke: #fff;
}

.route-tip {
  color: #FFFACD;
}

.route-tip:hover {
  background-color: yellow;
}
